@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: var(--bg-light);
    --foreground: var(--text-dark);

    --muted: var(--bg-lighter);
    --muted-foreground: var(--text-medium);

    --popover: var(--bg-lighter);
    --popover-foreground: var(--text-dark);

    --border: var(--card-border-light);
    --input: var(--card-border-light);

    --card: var(--card-bg-light);
    --card-foreground: var(--text-dark);

    --primary: var(--primary-light);
    --primary-foreground: var(--text-dark);

    --secondary: var(--bg-light);
    --secondary-foreground: var(--text-dark);

    --accent: var(--accent-green-light);
    --accent-foreground: var(--text-dark);

    --destructive: 0 100% 50%;
    --destructive-foreground: var(--text-dark);

    --ring: var(--primary-light);

    --radius: 0.5rem;
  }

  .dark {
    --background: var(--bg-dark);
    --foreground: var(--text-white);

    --muted: var(--bg-darker);
    --muted-foreground: var(--text-light);

    --accent: var(--primary);
    --accent-foreground: var(--text-white);

    --popover: var(--bg-dark);
    --popover-foreground: var(--text-white);

    --border: rgba(255, 255, 255, 0.1);
    --input: rgba(255, 255, 255, 0.1);

    --card: var(--bg-darker);
    --card-foreground: var(--text-white);

    --primary: var(--primary);
    --primary-foreground: var(--text-white);

    --secondary: var(--bg-darker);
    --secondary-foreground: var(--text-white);

    --destructive: 0 63% 31%;
    --destructive-foreground: var(--text-white);

    --ring: var(--primary);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-8 h-8 bg-muted rounded-full font-medium text-center text-base inline-flex items-center justify-center -indent-px;
    @apply ml-[-41px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
