@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* font-family: "Eudoxus Sans", sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  height: 100%;
  background-color: black;
  

}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}
